[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4"
django-cloudinary-storage = "*"
pillow = "*"
django-phonenumber-field = "*"
django-phonenumbers = "*"
djangorestframework = "*"
django-money = "*"
django-filter = "*"
django-countries = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
